<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>advancedexport</name>
    <displayName><![CDATA[Advanced Export]]></displayName>
    <version><![CDATA[4.3.8]]></version>
    <description><![CDATA[Advanced CSV Export is an easy to use but powerful tool for export products, orders, categories, 
            suppliers, manufaturers, newsletters in csv format.]]></description>
    <author><![CDATA[Smart Soft]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>